@import components/mixin

@font-face 
    font-family: "Maven Pro"
    src: url(../fonts/MavenPro-Bold.woff2) format("woff2"),url(../fonts/MavenPro-Bold.woff) format("woff")
    font-weight: 700
    font-style: normal
    font-display: swap


@font-face 
    font-family: "Maven Pro"
    src: url(../fonts/MavenPro-Medium.woff2) format("woff2"),url(../fonts/MavenPro-Medium.woff) format("woff")
    font-weight: 500
    font-style: normal
    font-display: swap


@font-face 
    font-family: "Maven Pro"
    src: url(../fonts/MavenPro-Regular.woff2) format("woff2"),url(../fonts/MavenPro-Regular.woff) format("woff")
    font-weight: 400
    font-style: normal
    font-display: swap

body
    margin: 0

html
    font-size: 1px

.fon
    width: 100%
    height: 200rem
    object-fit: cover
    object-position: 75%
    vertical-align: bottom

.logo
    display: flex
    margin-top: 5rem
    align-items: center
    position: absolute
    p
        font-size: 30px
        letter-spacing: 6px
        line-height: 29px
        color: #ffffff
        font-weight: 700
        font-family: "Maven Pro"
        margin: 0

.cards
    display: block
    margin: 0 15rem

.card
    margin: 40rem 10rem
    padding: 30rem 20rem
    text-align: center
    background-color: limegreen
    border-radius: 15px
    background-color: #fff
    border-radius: 30px
    filter: drop-shadow(0 0 46px rgba(204,204,223,0.71))
    a
        background-color: #6e45e2
        padding: 20rem 50rem
        font-size: 12px
        letter-spacing: 1px
        line-height: 32px
        text-transform: uppercase
        color: #ffffff
        font-weight: 700
        font-family: "Maven Pro"
        text-align: center
        text-decoration: none
        border-radius: 30rem
    a:hover
        background-color: #573ca0
        color: #b9b9b9
    .fig
        display: block
    img
        width: 50%
        position: relative
    .price
        display: inline-block
        font-size: 18rem
        letter-spacing: .5rem
        line-height: 72rem
        color: #4f4f6f
        font-weight: 500
        font-family: "Maven Pro"
        text-align: center
        position: relative
    .price b
        font-size: 60rem
        letter-spacing: -2rem
        line-height: 72rem
        color: #4f4f6f
        font-weight: 500
        font-family: "Maven Pro"
        text-align: center
    .currency
        position: absolute
        left: -15rem
    .personal
        font-size: 14rem
        letter-spacing: 1rem
        line-height: 32rem
        text-transform: uppercase
        color: #9fa4af
        font-weight: 700
        font-family: "Maven Pro"
    figcaption
        display: flex
        flex-direction: column
        justify-content: space-between 
        height: 100%
    .description
        margin: 0
        padding-left: 0
        list-style: none
        min-height: 100rem
        font-size: 16rem
        height: 218rem
        color: #9fa4af
        font-weight: 400
        font-family: "Maven Pro"
        text-align: center


.dark 
    color: #fff
    background-color: #000
    a
        color: #fff