@import components/mixin

@font-face 
    font-family: "Maven Pro"
    src: url(../fonts/MavenPro-Bold.woff2) format("woff2"),url(../fonts/MavenPro-Bold.woff) format("woff")
    font-weight: 700
    font-style: normal
    font-display: swap


@font-face 
    font-family: "Maven Pro"
    src: url(../fonts/MavenPro-Medium.woff2) format("woff2"),url(../fonts/MavenPro-Medium.woff) format("woff")
    font-weight: 500
    font-style: normal
    font-display: swap


@font-face 
    font-family: "Maven Pro"
    src: url(../fonts/MavenPro-Regular.woff2) format("woff2"),url(../fonts/MavenPro-Regular.woff) format("woff")
    font-weight: 400
    font-style: normal
    font-display: swap

body
    margin: 0
    scroll-behavior: smooth

html
    font-size: 1px
    scroll-behavior: smooth

header
    background: url(../img/fonfirst.svg) no-repeat
    background-position: 50% 0%
    width: 100%
    min-height: 720rem  
    object-fit: cover
    object-position: 20%
    vertical-align: bottom

header .logo
    p   
        color: #ffffff
.logo
    display: flex
    margin: 15rem 15rem
    align-items: center
    position: absolute
    p
        font-size: 30rem
        letter-spacing: 6rem
        line-height: 29rem
        font-weight: 700
        font-family: "Maven Pro"
        margin: 0
.maintitle
    font-size: 14rem
    letter-spacing: 1rem
    line-height: 32rem
    text-transform: uppercase
    color: #9fa4af
    font-weight: 700
    font-family: "Maven Pro"
    text-align: center
    position: relative
.maintitle:before
    content: ""
    width: 20rem
    height: 1rem
    top: 50%
    left: 90rem
    background-color: #6e45e2
    position: absolute
.maintitle:after
    content: ""
    width: 20rem
    height: 1rem
    top: 50%
    right: 91rem
    background-color: #6e45e2
    position: absolute

.mainwraptitle
    font-size: 60rem
    letter-spacing: -2rem
    line-height: 72rem
    color: #4f4f6f
    font-weight: 500
    font-family: "Maven Pro"
    text-align: center  
    margin: 15rem 0  

.mainsubtitle
    font-size: 16rem
    line-height: 28rem
    color: #9fa4af
    font-weight: 400
    font-family: "Maven Pro"
    text-align: center
    margin: 30rem 10rem 0 10rem 
.plans-a
    text-decoration: none
    display: inline-block
    position: relative
    left: 40%
    bottom: -80rem
.slider
    border: 1rem solid #fff
    position: absolute
    width: 64rem
    height: 64rem
    border-radius: 32rem
    background-color: #fff
    left: 40%
    bottom: -95rem
.slider:before
    background: url(../img/cryg.svg)
    content: ""
    position: absolute
    width: 14rem
    height: 16rem
    background-repeat: no-repeat
    top: 36%
    left: 40%
    opacity: .7
.plans
    padding-top: 70rem

.cards
    display: block
    margin: 0 15rem

.card
    margin: 60rem 10rem
    padding: 30rem 20rem
    text-align: center
    background-color: limegreen
    border-radius: 15rem
    background-color: #fff
    border-radius: 30rem
    border: 1rem solid #afafaf
    a
        background-color: #6e45e2
        padding: 20rem 50rem
        font-size: 12rem
        letter-spacing: 1rem
        line-height: 32rem
        text-transform: uppercase
        color: #ffffff
        font-weight: 700
        font-family: "Maven Pro"
        text-align: center
        text-decoration: none
        border-radius: 30rem
    a:hover
        background-color: #001fff
        color: #fff
    .fig
        display: block
    img
        width: 50%
        position: relative
    .price
        display: inline-block
        font-size: 18rem
        letter-spacing: .5rem
        line-height: 72rem
        color: #4f4f6f
        font-weight: 500
        font-family: "Maven Pro"
        text-align: center
        position: relative
    .price b
        font-size: 60rem
        letter-spacing: -2rem
        line-height: 72rem
        color: #4f4f6f
        font-weight: 500
        font-family: "Maven Pro"
        text-align: center
    .currency
        position: absolute
        left: -15rem
    .personal
        font-size: 14rem
        letter-spacing: 1rem
        line-height: 32rem
        text-transform: uppercase
        color: #9fa4af
        font-weight: 700
        font-family: "Maven Pro"
    figcaption
        display: flex
        flex-direction: column
        justify-content: space-between 
        height: 100%
    .description
        margin: 0
        padding-left: 0
        list-style: none
        min-height: 190rem
        font-size: 16rem
        color: #9fa4af
        font-weight: 400
        font-family: "Maven Pro"
        text-align: center
.card:hover
    border: none
    filter: drop-shadow(0 0 46rem rgba(204,204,223,0.71))
.suptitle
    text-align: center
    margin: 0
    padding-top: 180rem
    font-size: 14rem
    letter-spacing: 1rem
    line-height: 32rem
    text-transform: uppercase
    color: #ffffff
    font-weight: 700
    font-family: "Maven Pro"
    position: relative
.suptitle:before
    content: ""
    width: 20rem
    height: 1rem
    top: 92%
    left: 8rem
    background-color: #fff
    position: absolute
.suptitle:after
    content: ""
    width: 20rem
    height: 1rem
    top: 92%
    right: 9rem
    background-color: #fff
    position: absolute
.wrappertitle
    font-size: 86rem
    letter-spacing: -3rem
    line-height: 72rem
    color: #ffffff
    font-weight: 500
    font-family: "Maven Pro"
    text-align: center
    margin: 23rem 0

.subtitle 
    font-size: 16rem
    line-height: 28rem
    color: #ffffff
    font-weight: 400
    font-family: "Maven Pro"
    text-align: center  
    margin: 30rem 10rem 0 10rem 

.secondfon
    background: url(../img/Map.svg) no-repeat
    background-position: 20% 50%
    width: 100%
    display: block
    min-height: 525rem  
    object-fit: cover
    object-position: 20%
    vertical-align: bottom
.footertitlesup
    padding-top: 50rem
    text-align: center
    font-size: 14rem
    letter-spacing: 1rem
    line-height: 32rem
    text-transform: uppercase
    color: #ffffff
    font-weight: 700
    font-family: "Maven Pro"
.fotm
    margin: 10rem 10rem 20rem 10rem
    font-size: 60rem
    letter-spacing: -2rem
    line-height: 72rem
    color: #ffffff
    font-weight: 500
    font-family: "Maven Pro"
    text-align: center
.but
    margin-left: 70rem
    padding: 10rem 48rem
    border: none
    border-radius: 32rem
    background-color: #5836b6
    color: #fff
    font-size: 12rem
    letter-spacing: 1rem
    line-height: 32rem
    text-transform: uppercase
    font-weight: 700
    font-family: "Maven Pro"
.but:hover
    background: #000
    color: #fff
.butt
    margin: 40rem 0 0 70rem
    padding: 10rem 25rem
    border: none
    border-radius: 32rem
    background-color: #fff
    color: #c2c9db
    font-size: 12rem
    letter-spacing: 1rem
    line-height: 32rem
    text-transform: uppercase
    font-weight: 700
    font-family: "Maven Pro"
.butt:hover
    background: #fff
    color: #000
footer .logo
    margin: 15% 0 0 15%
    p   
        color: #000 

.hr
    border-bottom: 1.5px solid #f2f2f3
    padding-top: 100rem
    margin: 0 15rem 40rem 15rem
.fl
    display: flex
    column-gap: 10rem
    padding: 0
    justify-content: center
li
    list-style-type: none
.social li a 
    opacity: .4
    display: block
    width: 25rem
    height: 19rem
.social li a:hover
    opacity: 1
.social li a.fb
    background-image: url(../img/facebook.svg)
    background-repeat: no-repeat
    margin: 0
.social li a.tw
    background-image: url(../img/twitter.svg)
    background-repeat: no-repeat
.social li a.goog
    background-image: url(../img/google-plus-g.svg)
    background-repeat: no-repeat
.social li a.inst
    background-image: url(../img/instagram.svg)
    background-repeat: no-repeat
.k
    display: flex
    justify-content: center
.syma
    display: block
.last
    opacity: 0.502
    font-size: 14rem
    line-height: 19rem
    color: #6a6a77
    font-weight: 500
    font-family: "Maven Pro"
    text-align: center

            //@media
@media screen and (min-width: 360px)
    .suptitle:after
        right: 30rem
    .suptitle:before
        left: 30rem
    .plans-a
        left: 43%
    .maintitle:after
        right: 120rem
    .maintitle:before
        left: 120rem
    .but
        margin-left: 25%
    .butt
        margin-left: 25%
    footer .logo 
        margin: 10% 0 0 20%
@media screen and (min-width: 375px)
    .suptitle:after
        right: 35rem
    .suptitle:before
        left: 35rem
    .plans-a
        left: 43%
    .maintitle:after
        right: 125rem
    .maintitle:before
        left: 125rem
    .card
        margin: 60rem 20rem
    .fotm
        margin: 50rem 0 50rem 0
    .but
        margin-left: 25%
    .butt
        margin-left: 25%
    footer .logo 
        margin: 12% 0 0 20%
    .social li a.fb
        margin-left: 0
@media screen and (min-width: 425px)
    .suptitle:after 
        right: 60rem
    .suptitle:before 
        left: 60rem
    .maintitle:after 
        right: 150rem
    .maintitle:before 
        left: 150rem
    .card 
        margin: 60rem 30rem
    .but
        margin-left: 30%
    .butt
        margin-left: 30%
    footer .logo 
        margin: 10% 0 0 25%
    .social li a.fb 
        margin-left: 0


