@import components/mixin

@font-face 
    font-family: "Maven Pro"
    src: url(../fonts/MavenPro-Bold.woff2) format("woff2"),url(../fonts/MavenPro-Bold.woff) format("woff")
    font-weight: 700
    font-style: normal
    font-display: swap


@font-face 
    font-family: "Maven Pro"
    src: url(../fonts/MavenPro-Medium.woff2) format("woff2"),url(../fonts/MavenPro-Medium.woff) format("woff")
    font-weight: 500
    font-style: normal
    font-display: swap


@font-face 
    font-family: "Maven Pro"
    src: url(../fonts/MavenPro-Regular.woff2) format("woff2"),url(../fonts/MavenPro-Regular.woff) format("woff")
    font-weight: 400
    font-style: normal
    font-display: swap

body
    margin: 0

html
    font-size: 1px

header
    background: url(../img/fonfirst.svg) no-repeat
    width: 100%
    min-height: 570rem  
    object-fit: cover
    object-position: 50%
    vertical-align: bottom

.logo
    display: flex
    margin: 15rem 15rem
    align-items: center
    position: absolute
    p
        font-size: 30rem
        letter-spacing: 6rem
        line-height: 29rem
        color: #ffffff
        font-weight: 700
        font-family: "Maven Pro"
        margin: 0

.cards
    display: block
    margin: 0 15rem

.card
    margin: 60rem 10rem
    padding: 30rem 20rem
    text-align: center
    background-color: limegreen
    border-radius: 15rem
    background-color: #fff
    border-radius: 30rem
    filter: drop-shadow(0 0 46rem rgba(204,204,223,0.71))
    a
        background-color: #6e45e2
        padding: 20rem 50rem
        font-size: 12rem
        letter-spacing: 1rem
        line-height: 32rem
        text-transform: uppercase
        color: #ffffff
        font-weight: 700
        font-family: "Maven Pro"
        text-align: center
        text-decoration: none
        border-radius: 30rem
    a:hover
        background-color: #001fff
        color: #fff
    .fig
        display: block
    img
        width: 50%
        position: relative
    .price
        display: inline-block
        font-size: 18rem
        letter-spacing: .5rem
        line-height: 72rem
        color: #4f4f6f
        font-weight: 500
        font-family: "Maven Pro"
        text-align: center
        position: relative
    .price b
        font-size: 60rem
        letter-spacing: -2rem
        line-height: 72rem
        color: #4f4f6f
        font-weight: 500
        font-family: "Maven Pro"
        text-align: center
    .currency
        position: absolute
        left: -15rem
    .personal
        font-size: 14rem
        letter-spacing: 1rem
        line-height: 32rem
        text-transform: uppercase
        color: #9fa4af
        font-weight: 700
        font-family: "Maven Pro"
    figcaption
        display: flex
        flex-direction: column
        justify-content: space-between 
        height: 100%
    .description
        margin: 0
        padding-left: 0
        list-style: none
        min-height: 190rem
        font-size: 16rem
        color: #9fa4af
        font-weight: 400
        font-family: "Maven Pro"
        text-align: center

.suptitle
    text-align: center
    margin: 0
    padding-top: 150rem
    font-size: 14rem
    letter-spacing: 1rem
    line-height: 32rem
    text-transform: uppercase
    color: #ffffff
    font-weight: 700
    font-family: "Maven Pro"

.dark 
    color: #fff
    background-color: #000
    a
        color: #fff