doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        link(rel="shortcut icon" href="/img/Symbol.png" type="image/png")
        title Misocial - social marketing analytics! Take control of your data.
    body 
        include components/mixin
        header 
            +menu(mainMenu)
            .miniwrapper
                p.suptitle SOCIAL MARKETING & ANALYTICS 
                p.wrappertitle Pricing Table
                p.subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            a(href="#plans").plans-a
                span.slider
        main 
            .plans#plans
            p.maintitle Misocial
            p.mainwraptitle Select a Plan
            p.mainsubtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.
            .cards
                +card(cardsInfo.satelite)
                +card(cardsInfo.mars)
                +card(cardsInfo.rocket)
            .secondfon
                p.footertitlesup SOCAL MARKETING & ANALYTICS
                p.fotm Take control of your data
                .syma
                    button.but get started
                    button.butt explore features
        footer 
            +menu(mainMenu, "dark")
            .hr
            .flex
                p.last © 2017 Mass Impressions & Tranmautritam. Make the right impression.
                .social
                    ul.fl
                        li
                            a(href="#").fb
                        li 
                            a(href="#").tw
                        li 
                            a(href="#").goog
                        li 
                            a(href="#").inst
        script(src="js/script.js") 
        